Source: sintls
Maintainer: Laurent Coustet <ed@zehome.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11~),
               dh-golang,
               golang-any
Standards-Version: 4.2.1
Vcs-Browser: https://github.com/zehome/sintls
Vcs-Git: https://github.com/zehome/sintls.git
Homepage: https://github.com/zehome/sintls
XS-Go-Import-Path: github.com/zehome/sintls

Package: sintls-server
Architecture: any
Depends: ${misc:Depends}, adduser
Built-Using: ${misc:Built-Using}
Description: Sintls server

Package: sintls-client
Architecture: any
Depends: ${misc:Depends}, adduser
Built-Using: ${misc:Built-Using}
Description: Sintls client
