#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export GO_FLAGS := -s -w -X main.Version=$(DEB_VERSION)
export CGO_ENABLED = 0
export DH_VERBOSE = 1
export DH_GOLANG_BUILDPKG := github.com/zehome/sintls/cmd/sintls-client github.com/zehome/sintls/cmd/sintls-server
export GOCACHE = /tmp/gocache
export GO111MODULE = on

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_test:

